.logo {
    margin-top: 170px;
}

.graphics {
    margin-top: 100px;
    width: 900px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}

.login-button {
    height: 100px;
    background-color: black;
    color: white;
    width: 220px;
    border-radius: 30px;
    font-size: 32px;
    align-self: auto;
    margin: auto;
}

.login-button h1 {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-55%)
}